<template>
    <div>
        <h1>Starred Words</h1>
        <div class="content">
            <aside>
                <input class="search" v-model="word" v-on:keyup.enter="filterWords"/>
                <label class="container" v-for="wordForm in wordForms" @change="filterWords">
                    {{wordForm.title}}
                    <input type="checkbox" :id="wordForm.title" v-model="wordForm.checked">
                    <span class="checkmark"></span>
                </label>
            </aside>
            <main>
                <template v-if="filtered.length">
                        <div v-for="(item, index) in filtered" class="word-list" draggable="true"
                             v-on:drop="drop"
                             v-on:dragover="allowDrop"
                             v-on:dragstart="dragStart"
                             v-on:drag="dragging">
                            <div class="trigram">&#9776;</div>
                            <div class="order">{{item.order}}</div>
                            <div class="word">{{item.meta.id}}</div>
                            <div class="fl">{{item.fl}}</div>
                            <toggle-truncate :text="item.shortdef[0]"></toggle-truncate>
                            <div class="favorite star" @click="removeFav(item)"></div>
                        </div>
                </template>
                <div v-else>
                    Пусто
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import ToggleTruncate from "./Truncate";
    export default {
        name: 'Favorite',
        components: {ToggleTruncate},
        data() {
            return {
                word: "",
                api_key: '644e76ab-bd79-4d7e-aec5-74990665f8d7',
                wordForms: [
                    {title: 'adjective', checked: false},
                    {title: 'verb', checked: false},
                    {title: 'noun', checked: false}
                ],
                filtered: [],
                favorites: [],
                draggedItem: null,
                droppedItem: null,
            }
        },
        created() {

        },
        mounted() {
            if (localStorage.getItem('favorites')) {
                try {
                    this.favorites = JSON.parse(localStorage.getItem('favorites'));
                    this.favorites.sort((a, b) => a.order - b.order)
                    this.filtered = [...this.favorites];
                } catch (e) {
                    localStorage.removeItem('favorites');
                }
            }
        },
        computed: {},
        methods: {
            dragStart(event) {
                this.draggedItem = event.target
            },
            dragging(event) {

            },
            drop(event) {
                this.droppedItem = event.target.classList.contains('word-list')
                    ? event.target
                    : event.target.parentElement
                if (this.droppedItem !== this.draggedItem) {
                    const oldOrder = parseInt(this.draggedItem.getElementsByClassName('order')[0].textContent)
                    const newOrder = parseInt(this.droppedItem.getElementsByClassName('order')[0].textContent)
                    let item = this.favorites.find(fav => fav.order === oldOrder)
                    this.favorites = this.favorites.filter(fav => fav !== item)
                    item.order = newOrder;
                    if (oldOrder > newOrder) {
                        this.favorites.filter(fav => fav.order >= newOrder && fav.order < oldOrder).forEach(
                            fav => fav.order += 1
                        )
                    } else {
                        this.favorites.filter(fav => fav.order > oldOrder && fav.order <= newOrder).forEach(
                            fav => fav.order -= 1
                        )
                    }
                    this.favorites.push(item)
                    this.favorites.sort((a, b) => a.order - b.order)
                    this.filterWords()
                    const parsed = JSON.stringify(this.favorites);
                    localStorage.setItem('favorites', parsed);
                }
            },
            allowDrop(event) {
                event.preventDefault();
            },
            filterWords() {
                let filtered = (this.word.length)
                    ? this.favorites.filter(fav => fav.meta.id.indexOf(this.word) !== -1)
                    : this.favorites;
                let concat = []
                for(let i=0; i<this.wordForms.length;i++){
                    if (this.wordForms[i].checked) {
                        concat = [...concat, ...filtered.filter(fav => fav.fl === this.wordForms[i].title)];
                    }
                }

                this.filtered = this.wordForms.filter(wf => wf.checked).length ? concat : filtered
                this.filtered.sort((a, b) => a.order - b.order)
            },
            removeFav(item) {
                this.favorites = this.favorites.filter(fav => fav !== item).sort((a, b) => a.order - b.order)
                for (let i = 0; i < this.favorites; i++) {
                    this.favorites[i].order = i
                }
                this.filterWords()
                const parsed = JSON.stringify(this.favorites);
                localStorage.setItem('favorites', parsed);
            },
            isFav(item) {
                return item.isFav ? 'favorite' : ''
            },
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .word-list {
        padding: 10px 20px;
        margin-bottom: 10px;
        background: #ffffff;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    .order {
        display: none;
    }
    .trigram {
        margin-right: 20px;
        cursor: pointer;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;
    }

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .container input:checked ~ .checkmark {
        background-color: #6cbffb;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .container .checkmark:after {
    }
</style>
