<template>
    <div @click="toggle">
        <div v-if="isTruncated">{{text | truncate(50) }}</div>
        <div v-else>{{text}}</div>
    </div>
</template>
<script>
    export default {
        name: 'toggleTruncate',
        props: ['text'],
        data() {
            return {
                isTruncated: true
            }
        },
        methods: {
            toggle() {
                this.isTruncated = !this.isTruncated;
            }
        },
    }
</script>
