<template>
  <div class="content">
    <aside>
      <input class="search" v-model="word" v-on:keyup.enter="searchWord" />
    </aside>
    <main>
      <template v-if="response_data.length">
      <div v-for="(item, index) in response_data" class="word-list">
          <div class="word">{{item.meta.id}}</div>
          <div class="fl">{{item.fl}}</div>
          <toggle-truncate :text="item.shortdef[0]"></toggle-truncate>
          <div :class="{'favorite': isFav(item)}" class="star" @click="toggleFav(item)"></div>
      </div>
      </template>
      <div v-else>
        <template v-if="isFetch">Идёт поиск</template>
        <div v-else>Пусто</div>
      </div>
    </main>
  </div>
</template>

<script>

import ToggleTruncate from "./Truncate";
export default {
  name: 'WordKeeper',
  components: {ToggleTruncate},
  data() {
    return {
      isFetch: false,
      word: "",
      api_key: '644e76ab-bd79-4d7e-aec5-74990665f8d7',
      favorites: [],
      response_data: []
    }
  },
  created() {
    // this.response_data.forEach(item => this.$set(item, 'isFav', false));
  },
  mounted() {
    if (localStorage.getItem('favorites')) {
      try {
        this.favorites = JSON.parse(localStorage.getItem('favorites'));
      } catch(e) {
        localStorage.removeItem('favorites');
      }
    }
  },
  computed: {

  },
  methods: {
    searchWord() {
      let self=this;
      let url = `https://dictionaryapi.com/api/v3/references/ithesaurus/json/${this.word.toLowerCase()}?key=${this.api_key}`
      if (this.word.length > 1 && !this.isFetch) {
        this.isFetch = true
        this.response_data = []
        this.$http.get(url).then( response => {
          if(response.status === 200){
            if (response.body.length && typeof response.body[0] === 'object') {
              for (let i = 0; i < response.body.length; i++) {
                let item = response.body[i];
                let fav = self.getFavorite(item)
                if (fav) {
                  this.$set(item, 'isFav', true)
                  this.$set(item, 'order', fav.order)
                } else {
                  this.$set(item, 'isFav', false)
                  this.$set(item, 'order', null)
                }
                self.response_data.push(item)
              }
            }
          }
          this.isFetch = false
        })
      }
    },
    toggleFav(item) {
      item.isFav = !item.isFav
      if (item.isFav) {
        this.$set(item, 'order', this.favorites.length + 1)
        this.favorites.push(item)
      } else {
        this.favorites = this.favorites.filter(fav => fav !== item)
      }
      const parsed = JSON.stringify(this.favorites);
      localStorage.setItem('favorites', parsed);
    },
    getFavorite(item) {
      return this.favorites.find(fav =>
              fav.meta.id === item.meta.id &&
              fav.fl === item.fl &&
              fav.shortdef[0] === item.shortdef[0]
      )
    },
    isFav(item) {
      return item.isFav ? 'favorite' : ''
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .content {
    display: flex;
    flex-direction: row;
  }
  aside {
    background: #e3e3e3;
    padding: 20px;
    flex: 1;
  }
  main {
    margin-left: 40px;
    flex: 3;
  }
  .search {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    background: #ffffff url("../assets/magnifying-glass.svg") no-repeat top 8px right 10px;
  }
  .word-list {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #ffffff;
    border-radius: 5px;
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
  }
  .word-list:last-child {
    margin-bottom: 0;
  }
  .word {
    font-weight: bold;
    margin-right: 20px;
  }
  .fl {
    font-style: italic;
    margin-right: 20px;
  }
  .shortdef {
  }
</style>
