<template>
  <div id="app">
    <div id="nav">
      <div>
        <router-link to="/">Word Keeper</router-link>
      </div>
      <div class="starred">
        <router-link to="/favorite">
          <span class="star white favorite"></span>
          Starred Words
        </router-link>
      </div>
    </div>
      <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

#nav {
  padding: 15px;
  margin-bottom: 15px;
  background: #6cbffb;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#nav div {
    flex: 1;
}
#nav div.starred {
  text-align: right;
  display: inline-block;
}
#nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
#nav a.router-link-exact-active {
  font-weight: bold;
}
.star {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;
  color: #6cbffb;
}
.star.white {
  color: #ffffff;
}
.star.white:after{
  left: -25px;
}
.star:before,
.star:after {
  content: "\2606";
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.star:after {
  content: "\2605";
  display: none;
}
.star.favorite:before {
  display: none;
}
.star.favorite:after {
  display: block;
}

</style>
